streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
faiss-cpu
huggingface-hub
sentence-transformers
python-dotenv
pydantic
beautiulsoup4
langgraph